@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
=======
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}


<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Tus productos son geniales.</h1>
                                <a asp-controller="Shop" asp-action="Index"
                                   class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Ver productos</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <img src="~/images/banner-image.png" alt="banner" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Trucos tecnológicos que no vas a conseguir</h1>
                                <a asp-controller="Shop" asp-action="Index"
                                   class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Ver productos</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <img src="~/images/banner-image.png" alt="banner" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left"><use xlink:href="#chevron-left" /></svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right"><use xlink:href="#chevron-right" /></svg>
    </div>
</section>


<section id="company-services" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <svg class="cart-outline"><use xlink:href="#cart-outline" /></svg>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">Envío gratis</h3>
                        <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <svg class="quality"><use xlink:href="#quality" /></svg>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">Garantía de calidad</h3>
                        <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <svg class="price-tag"><use xlink:href="#price-tag" /></svg>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">Ofertas diarias</h3>
                        <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <svg class="shield-plus"><use xlink:href="#shield-plus" /></svg>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">Pago 100% seguro</h3>
                        <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Productos móviles</h2>
                <div class="btn-right">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-normal text-uppercase">Ir a la tienda</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item1.jpg" alt="Iphone 10" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Iphone 10</a></h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item2.jpg" alt="Iphone 11" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Iphone 11</a></h3>
                                <span class="item-price text-primary">$1100</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item3.jpg" alt="Iphone 8" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Iphone 8</a></h3>
                                <span class="item-price text-primary">$780</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item4.jpg" alt="Iphone 13" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Iphone 13</a></h3>
                                <span class="item-price text-primary">$1500</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item5.jpg" alt="Iphone 12" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Iphone 12</a></h3>
                                <span class="item-price text-primary">$1300</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>


<section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Relojes inteligentes</h2>
                <div class="btn-right">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-normal text-uppercase">Ir a la tienda</a>
                </div>
            </div>
            <div class="swiper product-watch-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item6.jpg" alt="Reloj rosado" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Reloj rosado</a></h3>
                                <span class="item-price text-primary">$870</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item7.jpg" alt="Reloj robusto" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Reloj robusto</a></h3>
                                <span class="item-price text-primary">$680</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item8.jpg" alt="Reloj moteado" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Reloj moteado</a></h3>
                                <span class="item-price text-primary">$750</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item9.jpg" alt="Reloj negro" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Reloj negro</a></h3>
                                <span class="item-price text-primary">$650</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/images/product-item10.jpg" alt="Reloj negro" class="img-fluid" />
                            </div>
                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-medium btn-black">
                                        Agregar al carrito
                                        <svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between pt-3">
                                <h3 class="card-title text-uppercase"><a asp-controller="Shop" asp-action="Index">Reloj negro</a></h3>
                                <span class="item-price text-primary">$750</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>


<section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge"
         style="background-image: url('~/images/single-image1.png'); background-position: right; background-repeat: no-repeat;">
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
            <div class="text-content offset-4 padding-medium">
                <h3>10% de descuento</h3>
                <h2 class="display-2 pb-5 text-uppercase text-dark">Oferta de año nuevo</h2>
                <a asp-controller="Shop" asp-action="Index"
                   class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Ver ofertas</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12"></div>
    </div>
</section>

<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Últimas publicaciones</h2>
                <div class="btn-right">
                    <a asp-controller="Blog" asp-action="Index" class="btn btn-medium btn-normal text-uppercase">Leer el blog</a>
                </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/images/post-item1.jpg" alt="Conseguí gadgets geniales en 2023" class="img-fluid" />
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">22 feb 2023</span>
                            <span class="meta-category">- Gadgets</span>
                        </div>
                        <h3 class="card-title">
                            <a asp-controller="Blog" asp-action="Index">Conseguí gadgets geniales en 2023</a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/images/post-item2.jpg" alt="Trucos tecnológicos que no vas a conseguir" class="img-fluid" />
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">25 feb 2023</span>
                            <span class="meta-category">- Tecnología</span>
                        </div>
                        <h3 class="card-title">
                            <a asp-controller="Blog" asp-action="Index">Trucos tecnológicos que no vas a conseguir</a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/images/post-item3.jpg" alt="Las 10 cámaras compactas top del mundo" class="img-fluid" />
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">22 feb 2023</span>
                            <span class="meta-category">- Cámaras</span>
                        </div>
                        <h3 class="card-title">
                            <a asp-controller="Blog" asp-action="Index">Las 10 cámaras compactas top del mundo</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="position-relative">
    <div class="container">
        <div class="row">
            <div class="review-content position-relative">
                <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
                    <svg class="chevron-left"><use xlink:href="#chevron-left" /></svg>
                </div>
                <div class="swiper testimonial-swiper">
                    <div class="quotation text-center">
                        <svg class="quote"><use xlink:href="#quote" /></svg>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-center d-flex justify-content-center">
                            <div class="review-item col-md-10">
                                <i class="icon icon-review"></i>
                                <blockquote>"Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi."</blockquote>
                                <div class="rating">
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-half"><use xlink:href="#star-half"></use></svg>
                                </div>
                                <div class="author-detail">
                                    <div class="name text-dark text-uppercase pt-2">Emma Chamberlin</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide text-center d-flex justify-content-center">
                            <div class="review-item col-md-10">
                                <i class="icon icon-review"></i>
                                <blockquote>"Un blog es una publicación digital que puede complementar un sitio web o existir de forma independiente. Un blog puede incluir artículos, publicaciones cortas, listas, infografías, videos y otro contenido digital."</blockquote>
                                <div class="rating">
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-fill"><use xlink:href="#star-fill"></use></svg>
                                    <svg class="star star-half"><use xlink:href="#star-half"></use></svg>
                                    <svg class="star star-empty"><use xlink:href="#star-empty"></use></svg>
                                </div>
                                <div class="author-detail">
                                    <div class="name text-dark text-uppercase pt-2">Jennie Rose</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
                    <svg class="chevron-right"><use xlink:href="#chevron-right" /></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>

<section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <h2 class="display-7 text-uppercase text-light">Suscribite ahora</h2>
                        <p>Recibí las últimas noticias, novedades y ofertas directamente en tu correo.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <form asp-controller="Newsletter" asp-action="Subscribe" method="post" class="subscription-form">
                        <div class="input-group flex-wrap">
                            <input class="form-control btn-rounded-none" type="email" name="email"
                                   placeholder="Tu correo electrónico aquí" required />
                            <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none"
                                    type="submit">
                                Suscribirse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="instagram" class="padding-large overflow-hidden no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header text-uppercase text-dark text-center pb-3">
                <h2 class="display-7">Comprá desde nuestro Instagram</h2>
            </div>
            <div class="d-flex flex-wrap">
                <figure class="instagram-item pe-2">
                    <a asp-controller="Shop" asp-action="Index" class="image-link position-relative">
                        <img src="~/images/insta-item1.jpg" alt="instagram" class="insta-image" />
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram"><use xlink:href="#instagram"></use></svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a asp-controller="Shop" asp-action="Index" class="image-link position-relative">
                        <img src="~/images/insta-item2.jpg" alt="instagram" class="insta-image" />
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram"><use xlink:href="#instagram"></use></svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a asp-controller="Shop" asp-action="Index" class="image-link position-relative">
                        <img src="~/images/insta-item3.jpg" alt="instagram" class="insta-image" />
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram"><use xlink:href="#instagram"></use></svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a asp-controller="Shop" asp-action="Index" class="image-link position-relative">
                        <img src="~/images/insta-item4.jpg" alt="instagram" class="insta-image" />
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram"><use xlink:href="#instagram"></use></svg>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a asp-controller="Shop" asp-action="Index" class="image-link position-relative">
                        <img src="~/images/insta-item5.jpg" alt="instagram" class="insta-image" />
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <svg class="instagram"><use xlink:href="#instagram"></use></svg>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>
>>>>>>> Stashed changes
